<div class="wrapper">
  <div class="title" style="background-image: url('<%= @cocktail.img_url %>')">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="dosage-info">
    <% @cocktail.doses.each do |c|  %>
      <h3><%= c.ingredient.name %></h3>
      <p><%= c.description %></p>
      <%= link_to "Delete", dose_path(c), method: :delete %>
    <% end %>
  </div>
  <div class="btn btn-primary">
    <%= link_to "Add an ingredient to your magic recipe", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>

